<p id="notice"><%= notice %></p>

<p>
  <b>Order_ID:</b>
  <%= @order.id %>
</p>

<!-- <p>
  <b>Buyer_Account:</b>
  <%= @order.user_name %>
</p> -->

<table>
  <tr>
    <th>Product_Id#</th>
    <th>Product_Title</th>
    <th>Product_Number</th>
  </tr>
<% @order.line_items.each do |line_item| %>
  <tr>
    <td><%= line_item.product_id %></td>
    <td><%= line_item.product.title %></td>
    <td><%= line_item.quantity %></td>
  </tr>
<% end %>
</table>

<p>
  <b>Name:</b>
  <%= @order.name %>
</p>

<p>
  <b>Address:</b>
  <%= @order.address %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>Pay type:</b>
  <%= @order.pay_type %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
